>> 변수를 만들 때는 =(assignment) 기호를 사용한다.

파이썬은 변수에 저장된 값을 스스로 판단하여 자료형을 지정한다.

## **변수란?**
파이썬에서 사용하는 변수는 객체를 가리키는 것이라고도 말할 수 있다. 객체란 자료형과 같은 의미

In [ ]:
# 다음 예와 같은 a, b, c를 변수라고 한다.
# 변수 이름 = 변수에 저장할 값

a = 1
b = "python"
c = [1,2,3]

In [ ]:
# a = [1, 2, 3]이라고 하면 [1, 2, 3] 값을 가지는 리스트 자료형(객체)이 자동으로 메모리에 생성되고 
# 변수 a는 [1, 2, 3] 리스트가 저장된 메모리의 주소를 가리키게 된다.
# 메모리란 컴퓨터가 프로그램에서 사용하는 데이터를 기억하는 공간이다.
a = [1, 2, 3]

In [ ]:
# a 변수가 가리키는 메모리의 주소 확인
# id 함수는 변수가 가리키고 있는 객체의 주소 값을 돌려주는 파이썬 내장 함수이다. 
# 즉 변수 a가 가리키는 [1, 2, 3] 리스트의 주소 값은 140330746629896임을 알 수 있다.

a = [1, 2, 3]
id(a)

140330746629896

## **리스트를 복사하고자 할 때**

In [ ]:
'''
b 변수에 a 변수를 대입하면 어떻게 될까? b와 a는 같은 걸까 다른 걸까? 
결론부터 말하면 b는 a와 완전히 동일하다고 할 수 있다. 
다만 [1, 2, 3] 리스트를 참조하는 변수가 a 변수 1개에서 b 변수가 추가되어 2개로 늘어났다는 
차이만 있을 뿐이다.

id 함수를 사용하면 이러한 사실을 확인할 수 있다.
'''
a = [1,2,3]
b = a

In [ ]:
'''
id(a)의 값이 id(b)의 값과 동일함을 확인할 수 있다. 
즉 a가 가리키는 대상과 b가 가리키는 대상이 동일하다는 것을 알 수 있다. 
'''
id(a)
id(b)

140330639787976

In [ ]:
id(a)

140330639787976

In [ ]:
# 동일한 객체를 가리키고 있는지에 대해서 판단하는 파이썬 명령어 is를 실행해도 
# 역시 참(True)을 돌려준다.

a is b  # a와 b가 가리키는 객체는 동일한가?

True

In [ ]:
'''
a 리스트의 두 번째 요소를 값 4로 바꾸었더니 a만 바뀌는 것이 아니라 
b도 똑같이 바뀌었다. 그 이유는 앞에서 살펴본 것처럼 a, b 모두 
동일한 리스트를 가리키고 있기 때문이다.
'''
a = [1,2,3]
b=a

a[1] = 4
a

[1, 4, 3]

In [ ]:
b

[1, 4, 3]

In [ ]:
'''
그렇다면 b 변수를 생성할 때 a 변수의 값을 가져오면서 
a와는 다른 주소를 가리키도록 만들수는 없을까? 
아래 2가지 방법이 있다.
1) [:]이용
2) copy 모듈 이용
'''

In [ ]:
# 1) 첫번째 방법=> [:] 이용
# 리스트 전체를 가리키는 [:]을 사용해서 복사하는 것이다.
'''
a = [1, 2, 3]
b = a[:]
a[1] = 4
a
>>>[1, 4, 3]

b
>>>[1, 2, 3]
'''

In [ ]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [ ]:
# a 리스트 값을 바꾸더라도 b 리스트에는 영향을 끼치지 않는다.
b

[1, 2, 3]

In [ ]:
# 2) copy 모듈 이용
'''
from copy import copy라는 문장으로
copy 함수를 쓰기 위해서 사용하는 것

아래 예에서 b = copy(a)는 b = a[:]과 동일하다.
'''

from copy import copy
b = copy(a)

In [ ]:
# 두 변수가 같은 값을 가지면서 다른 객체를 제대로 생성했는지 다음과 같이 확인해 보자.
# b is a가 False를 돌려주므로 b와 a가 가리키는 객체는 서로 다르다는 것을 알 수 있다.
b is a

False

## **변수를 만드는 여러 가지 방법**

In [ ]:
# 튜플로 a, b에 값을 대입할 수 있다.
a, b = ('python', 'life')

# 튜플은 괄호를 생략해도 된다.
a, b = 'python', 'life'

# 리스트로 변수를 만들 수도 있다.
a = b = 'python'

In [ ]:
# 두 변수의 값 바꾸기
'''
처음에 a에 값 3, b에는 값 5가 대입되어 있었지만 
a, b = b, a 문장을 수행한 후에는 그 값이 서로 바뀌었음을 확인할 수 있다.
'''

a = 3
b = 5
a, b = b, a
a

5

In [ ]:
b

3

## **변수응용**

In [ ]:
# 변수(값을 저장하는 공간)
print("우리집 강아지의 이름은 연탄이예요")
print("연탄이는 4살이며, 산책을 아주 좋아해요")
print("연탄이는 어른일까요? True")

우리집 강아지의 이름은 연탄이예요
연탄이는 4살이며, 산책을 아주 좋아해요
연탄이는 어른일까요? True

In [ ]:
# 위 문장과 똑같이 출력된다.
# 변수를 적용하기위해 변수를 선언한다
animal = "강아지"
name = "연탄이"
age = 4  # 정수형이므로 따옴표 없이 써준다.
hobby = "산책"
is_adult = age >= 3  #3보다 크거나 같으면 어른이라고 정의

print("우리집" +animal+ "의 이름은"+name+ "이예요")
print(name+"는" +str(age)+"살이며," +hobby+"을 아주 좋아해요")   #정수형을 문자로 바꿔주기위해 str을 붙여준다.
print(name+"는 어른일까요?" + str(is_adult))   #블리언도 문자로 바꾸기 위해서는 str로 감싸준다.

우리집강아지의 이름은연탄이이예요
연탄이는4살이며,산책을 아주 좋아해요
연탄이는 어른일까요?True

In [ ]:
# 응용
animal = "고양이"
name = "망고"
age = 3  # 정수형이므로 따옴표 없이 써준다.
hobby = "공놀이"
is_adult = age >= 4  #3보다 크거나 같으면 어른이라고 정의

print("우리집" +animal+ "의 이름은"+name+ "이예요")
print(name+"는" +str(age)+"살이며," +hobby+"을 아주 좋아해요")   #정수형을 문자로 바꿔주기위해 str을 붙여준다.
print(name+"는 어른일까요?" + str(is_adult))   #블리언도 문자로 바꾸기 위해서는 str로 감싸준다.

우리집고양이의 이름은망고이예요
망고는3살이며,공놀이을 아주 좋아해요
망고는 어른일까요?False

In [ ]:
# 변수는 중간에 들어갈수도 있다.

print("우리집" +animal+ "의 이름은"+name+ "이예요")
hobby = "낮잠자기"
print(name+"는" +str(age)+"살이며," +hobby+"을 아주 좋아해요")   
print(name+"는 어른일까요?" + str(is_adult))

우리집고양이의 이름은망고이예요
망고는3살이며,낮잠자기을 아주 좋아해요
망고는 어른일까요?False

In [ ]:
# 콤파(,)를 사용하는경우 str생략해도 된다.

print("우리집" +animal+ "의 이름은"+name+ "이예요")
hobby = "낮잠자기"
#print(name+"는" +str(age)+"살이며," +hobby+"을 아주 좋아해요")
print(name,"는",age,"살이며,",hobby,"을 아주 좋아해요")     
print(name+"는 어른일까요?" + str(is_adult))

우리집고양이의 이름은망고이예요
망고 는 3 살이며, 낮잠자기 을 아주 좋아해요
망고는 어른일까요?False

In [1]:
3f=2 #변수명은 문자로 시작해야함

SyntaxError: ignored

In [3]:
af=2
af

2

In [8]:
dogs=3  #10진수
0o100 #8진수
0x100 #16진수
0b100 #2진수

4