<a href="https://colab.research.google.com/github/chohyungrae/Python-Study-/blob/master/%5BPandas%5D_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_%EC%83%9D%EC%84%B1%ED%95%98%EA%B8%B01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
friend_dict_list = [
                    { 'name': 'John', 'age':25, 'job':'student'},
                    {'name': 'Nate', 'age':30, 'job': 'teacher'}
]

In [ ]:
df = pd.DataFrame(friend_dict_list)

In [ ]:
df. head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [ ]:
#원하는 순서로 지정
df = df[['name', 'age', 'job']]
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [ ]:
from collections import OrderedDict # OrdereDict 사용(키의 순서를 보장함)

In [ ]:
friend_ordered_dict = OrderedDict(
    [
     ('name', ['John', 'Nate']),
     ('age', [20, 30]),
     ('job', ['student', 'teacher'])
    ]
)

In [ ]:
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [ ]:
df.head()

In [ ]:
friend_list = [
               ['john', 20, 'student'],
               ['Nate', 30, 'teacher']

]

In [ ]:
column_name = ['name', 'age', 'job']

In [ ]:
df = pd.DataFrame.from_records(friend_list, columns = column_name)

In [ ]:
df.head()

   name  age      job
0  john   20  student
1  Nate   30  teacher