<a href="https://colab.research.google.com/github/chohyungrae/Python-Study-/blob/master/for%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **for문**
리스트(list)와 같은 순서형(sequence) 자료를 이용해서 원하는 명령을 반복할 때 쓰인다고 합니다

In [ ]:
#for문 기본구조
'''
리스트나 튜플, 문자열의 첫 번째 요소부터 마지막 요소까지 
차례로 변수에 대입되어 "수행할 문장1", "수행할 문장2" 등이 수행된다.
'''
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...

In [2]:
#for문

family = ['mother', 'father', 'gentleman', 'sexy lady']
for x in family:    # family라는 리스트의 각각의 항목 x에 대하여:
  print('%s %d' % (x, len(x))) # x와 x의 길이를 출력하라.

mother 6
father 6
gentleman 9
sexy lady 9

In [3]:
# range()
'''
range는 범위라는 뜻인데 여기서는 어떤 정수를 인자로 주면 그 범위 안의 
정수들을 만들어줍니다.
'''

range(2, 7)         # 파이썬 2
list(range(2, 7))   # 파이썬 3

[2, 3, 4, 5, 6]

In [4]:
# for 문에 range()를 사용

a = [4, 5, 6, 7]
for i in a:
  print(i)

4
5
6
7

In [5]:
for i in range(4, 8):
  print(i)

4
5
6
7

In [6]:
# for문
'''
['one', 'two', 'three'] 리스트의 첫 번째 요소인 'one'이 먼저 i 변수에 대입된 후
 print(i) 문장을 수행한다. 다음에 두 번째 요소 'two'가 i 변수에 대입된 후
  print(i) 문장을 수행하고 리스트의 마지막 요소까지 이것을 반복한다.
'''
test_list = ['one', 'two', 'three'] 
for i in test_list: 
  print(i)

one
two
three

In [8]:
'''
a 리스트의 요솟값이 튜플이기 때문에 각각의 요소가 
자동으로 (first, last) 변수에 대입된다.
'''
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)

3
7
11

In [10]:
# for문의 응용
'''
"총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 합격이고 
그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오."
'''
marks = [90, 25, 67, 45, 80]

'''
각각의 학생에게 번호를 붙여 주기 위해 number 변수를 사용하였다. 
점수 리스트 marks에서 차례로 점수를 꺼내어 mark라는 변수에 
대입하고 for문 안의 문장들을 수행한다. 우선 for문이 
한 번씩 수행될 때마다 number는 1씩 증가한다.
'''

# marks1.py
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

### **for문과 continue**
while문에서 살펴본 continue문을 for문에서도 사용할 수 있다. 즉 for문 안의 문장을 수행하는 도중에 continue문을 만나면 for문의 처음으로 돌아가게 된다.

In [11]:
'''
60점 이상인 사람에게는 축하 메시지를 보내고 나머지 사람에게는 
아무 메시지도 전하지 않는 프로그램을 에디터를 사용해 작성해 보자.
'''
# marks2.py 
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

### **for문과 함께 자주 사용하는 range 함수**
숫자 리스트를 자동으로 만들어 주는 range 함수.

In [12]:
a = range(10)
a

range(0, 10)

In [14]:
'''
range(1, 11)은 숫자 1부터 10까지(1 이상 11 미만)의 숫자를 
데이터로 갖는 객체이다. 따라서 아래 예에서 i 변수에 리스트의 
숫자가 1부터 10까지 하나씩 차례로 대입되면서 add = add + i 문장을 
반복적으로 수행하고 add는 최종적으로 55가 된다.
'''
add = 0 
for i in range(1, 11): 
  add = add + i 
  print(add)

1
3
6
10
15
21
28
36
45
55

In [16]:
'''
len 함수는 리스트 안의 요소 개수를 돌려주는 함수이다. 
따라서 len(marks)는 5가 될 것이고 range(len(marks))는 range(5)가 
될 것이다. number 변수에는 차례로 0부터 4까지의 숫자가 대입될 것이고, 
marks[number]는 차례대로 90, 25, 67, 45, 80 값을 갖게 된다. 
'''
#marks3.py
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [22]:
#for와 range를 이용한 구구단
'''
출력
2 4 6 8 10 12 14 16 18 
3 6 9 12 15 18 21 24 27 
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54 
7 14 21 28 35 42 49 56 63 
8 16 24 32 40 48 56 64 72 
9 18 27 36 45 54 63 72 81
'''

'''
예를 보면 for문을 두 번 사용했다. ①번 for문에서 2부터 9까지의 
숫자(range(2, 10))가 차례로 i에 대입된다. i가 처음 2일 때 
②번 for문을 만나게 된다. ②번 for문에서 1부터 9까지의 
숫자(range(1, 10))가 j에 대입되고 그다음 문장 print(i*j)를 수행한다.

따라서 i가 2일 때 2*1, 2*2, 2*3, … 2*9까지 차례로 수행되며 
그 값을 출력하게 된다. 그다음으로 i가 3일 때 역시 2일 때와 
마찬가지로 수행될 것이고 i가 9일 때까지 계속 반복된다.
'''

for i in range(2,10):    # ①번 for문
  for j in range(1, 10):   # ②번 for문
   print(i*j, end=" ") 
   print('')

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [ ]:
'''
[매개변수 end를 넣어 준 이유는 무엇일까?]

위의 예제에서 print(i*j, end=" ")와 같이 매개변수 end를 넣어 준 이유는 
해당 결괏값을 출력할 때 다음줄로 넘기지 않고 그 줄에 계속해서 
출력하기 위해서이다. 그다음에 이어지는 print(' ')는 2단, 3단 등을 
구분하기 위해 두 번째 for문이 끝나면 결괏값을 다음 줄부터 출력하게 해주는 문장이다.
'''

### **리스트내포 사용하기**

In [27]:
#a 리스트의 각 항목에 3을 곱한 결과를 result 리스트에 담는 예
'''
리스트 안에 for문을 포함하는 리스트 내포(List comprehension)를 
사용하면 좀 더 편리하고 직관적인 프로그램을 만들 수 있다. 
'''
a = [1,2,3,4]
result = []
for num in a:
 result.append(num*3)

print(result)

[3, 6, 9, 12]

In [28]:
#위를 리스트 내포를 사용하면 다음과 같이 간단히 해결할 수 있다.

a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [29]:
#구구단의 모든 결과를 리스트에 담고 싶다면 리스트 내포를 사용하여 
#다음과 같이 간단하게 구현할 수도 있다.

result = [x*y for x in range(2,10)
  for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]