<a href="https://colab.research.google.com/github/chohyungrae/Python-Study-/blob/master/pandas_FinanceDataReader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install -U finance-datareader

Collecting finance-datareader
  Downloading https://files.pythonhosted.org/packages/ed/b5/bab9072610a2721b37b07cbf9e01aa761c8da1fd82c43016f3ff14fd0d62/finance_datareader-0.9.20-py3-none-any.whl
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (1.1.5)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (4.41.1)
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied, skipping upgrade: lxml in /usr/local/lib/python3.6/dist-packages (from finance-datareader) (4.2.6)
Collecting requests-file
  Downloading https://files.pythonhosted.org/packages/77/86/cdb5e8eaed90796aa83a6d9f75cfbd37af553c47a291cd47bc410ef9bdb2/requests_file-1.5.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from requests-file->finance-datareader) (1.15.0)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.20 requests-file-1.5.1

In [3]:
import pandas as pd

In [4]:
import FinanceDataReader as fdr #데이터불러오기

In [5]:
fdr. __version__

'0.9.20'

In [6]:
fdr. StockListing("KRX") #데이터보기

      Symbol  Market  ...                       HomePage Region
0     060310  KOSDAQ  ...           http://www.3sref.com  서울특별시
1     095570   KOSPI  ...         http://www.ajnet.co.kr  서울특별시
2     006840   KOSPI  ...  http://www.aekyunggroup.co.kr  서울특별시
3     054620  KOSDAQ  ...   http://www.apsholdings.co.kr    경기도
4     265520  KOSDAQ  ...     http://www.apsystems.co.kr    경기도
...      ...     ...  ...                            ...    ...
7100  000547   KOSPI  ...                            NaN    NaN
7101  000545   KOSPI  ...                            NaN    NaN
7102  003280   KOSPI  ...         http://www.heung-a.com  서울특별시
7103  037440  KOSDAQ  ...          http://www.heerim.com  서울특별시
7104  238490  KOSDAQ  ...          http://www.hims.co.kr  인천광역시

[7105 rows x 10 columns]

In [7]:
df_krx=fdr. StockListing("KRX")
df_krx.shape # 행과열의 크기

(7105, 10)

In [8]:
df_krx.info() #요약정보

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7105 entries, 0 to 7104
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7105 non-null   object
 1   Market          7105 non-null   object
 2   Name            7105 non-null   object
 3   Sector          2422 non-null   object
 4   Industry        2403 non-null   object
 5   ListingDate     2422 non-null   datetime64[ns]
 6   SettleMonth     2422 non-null   object
 7   Representative  2422 non-null   object
 8   HomePage        2246 non-null   object
 9   Region          2422 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 610.6+ KB

In [9]:
df_krx.describe() #기술통계 값

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

        Symbol Market  ...                 HomePage Region
count     7105   7105  ...                     2246   2422
unique    7105      3  ...                     2225     22
top     334890  KOSPI  ...  http://www.moorim.co.kr  서울특별시
freq         1   5459  ...                        2    978
first      NaN    NaN  ...                      NaN    NaN
last       NaN    NaN  ...                      NaN    NaN

[6 rows x 10 columns]

In [10]:
#csv파일로 저장
#index=flase는 index를 빼고 저장
df_krx.to_csv("krx.csv, index=False")

In [12]:
#csv파일불러오기
pd.read_csv("krx.csv, index=False")

      Unnamed: 0  Symbol  ...                       HomePage Region
0              0  060310  ...           http://www.3sref.com  서울특별시
1              1  095570  ...         http://www.ajnet.co.kr  서울특별시
2              2  006840  ...  http://www.aekyunggroup.co.kr  서울특별시
3              3  054620  ...   http://www.apsholdings.co.kr    경기도
4              4  265520  ...     http://www.apsystems.co.kr    경기도
...          ...     ...  ...                            ...    ...
7100        7100  000547  ...                            NaN    NaN
7101        7101  000545  ...                            NaN    NaN
7102        7102  003280  ...         http://www.heung-a.com  서울특별시
7103        7103  037440  ...          http://www.heerim.com  서울특별시
7104        7104  238490  ...          http://www.hims.co.kr  인천광역시

[7105 rows x 11 columns]