<a href="https://colab.research.google.com/github/chohyungrae/Python-Study-/blob/master/useful_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#type()함수
#type을 알려주는 함수
a=[10,20,30,40,50]
b=(10,20,30,40,50)
c={"Kim":90, "LEE":80}
d='Seoul, Korea'
e=[[100,200],[300,400],[500,600]]
   
print(type(a), type(b), type(c), type(d), type(e))

<class 'list'> <class 'tuple'> <class 'dict'> <class 'str'> <class 'list'>

In [12]:
print(len(a), len(b), len(c), len(d), len(e)) # len 입력데이터의 길이

5 5 2 12 3

In [22]:
# list(data)는 입력data를 리스트로 만들어 리턴하는 함수
a='Hello'
b={"Kim":90, "LEE":80}
print(list(a), list(b.keys()), list(b.values()), list(b. items()))

['H', 'e', 'l', 'l', 'o'] ['Kim', 'LEE'] [90, 80] [('Kim', 90), ('LEE', 80)]

In [23]:
#str(data)은 입력되는 data를 문자열로 변환하여 리턴하는 함수
str(3.14)

'3.14'

In [24]:
str('100')

'100'

In [25]:
str([1,2,3])

'[1, 2, 3]'

In [26]:
# int(data)는 문자열 형태로 입력되는 숫자나 소수점이 있는 숫자등을 정수로 리턴하는 함수
int('100')

100

In [27]:
int(3.14)

3