<a href="https://colab.research.google.com/github/chohyungrae/Python-Study-/blob/master/%EC%9E%90%EB%A3%8C%ED%98%95_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
'''참조사이트; [파이썬 기초 강의/20강 완성] 3강 기본 자료형
https://www.youtube.com/watch?v=HMa5aCNkVrs&list=PLz2iXe7EqJOPWSzKBzMMqpZuMnrFrlO8x&index=4
'''

name='swplay'
var1='재미있는 파이썬'
var1.replace('파이썬', 'python') # replace는 바꾸기

'재미있는 python'

In [3]:
name.upper() #upper()는 대문자로 바꾸기

'SWPLAY'

In [5]:
name.lower() #lower()는 소문자로 바꾸기

'swplay'

In [6]:
a=10
b='10'
print(a+b)

TypeError: ignored

In [7]:
a=10
b=int('10') #int 정수로 바꾸기
print(a+b)

20

In [9]:
a=10
b='10'
print(a+int(b))#int 정수로 바꾸기

20

In [10]:
a=10
b='10'
print(str(a)+b) #str은 문자로 바꾸기

1010

In [1]:
'''complex #
복소수(complex) 자료형입니다. 복소수는 다음과 같이 두가지 방법으로 정의 가능합니다.
'''
a = complex(1, 3)
a

(1+3j)

In [2]:
type(a)

complex

In [3]:
a = 3-4j
a

(3-4j)

In [4]:
 type(a)

complex

In [5]:
'''
문자열(string)이란 문자의 집합을 의미합니다.
'''
a = 'this is a sentence'
a

'this is a sentence'

In [ ]:
'''
앞서 본 작은따옴표로 양쪽 둘러싸기 말고도 문자열 작성하는 방법은 다음과 같은 3가지 방식이 있습니다.
'''
>>> "it is a string" # 큰 따옴표로 감싸기
>>> '''this is also a string''' # 작은 따옴표 3개를 연속으로 써서 감싸기
>>> """this is a string""" # 큰 따옴표 3개를 연속을 싸서 감싸기

In [6]:
'''
문자열 연산 
문자열을 파이썬에서는 더하거나 곱할 수 있습니다.
'''
'let\'s ' + 'add them up' # sting안에 '가 들어가는 경우 \로 나가줘야 특수문자 인식이 됩니다.

"let's add them up"

In [9]:
'''
예제와 같이 더하면 두 개의 문자열이 붙고 곱하면 곱한 수만큼 문자열이 반복됨을 알 수 있습니다.
'''
'repeat 3 times ' * 3

'repeat 3 times repeat 3 times repeat 3 times '

In [ ]:
'''
문자열 인덱싱과 슬라이싱 #
문자열의 indexing과 slicing은 문자열을 편집하기에 좋은 테크닉입니다.

>>> a = 'learning python is easy'
>>> a[0] # a의 0번째 문자를 가져옵니다.
'l'
>>> a[-2] # a의 뒤에서 두번째 문자를 가져옵니다.
's'
>>> a[9:15] # a의 9에서 15번째 문자를 가져옵니다.
'python'
>>> a[:] # a의 문자열 전체를 가져옵니다.
'learning python is easy'
'''

In [10]:
'''
formatting #
문자열 내의 특정한 값을 바꿔야 할 시에는 formatting을 활용합니다.

문자열 앞에 f를 쓰고 문자열 안에 변수를 받을 곳에 {변수이름}로 작성하면 
변숫값을 받아 자동완성되는 문자열이 만들어집니다.
'''
temperature = 20
f'Current temperature is {temperature} Celsius'

'Current temperature is 20 Celsius'

In [ ]:
'''
관련함수 #
문자열에도 자체적으로 가지고 있는 함수들이 있습니다. 이 중 많이 쓰는 몇 개를 소개하겠습니다.
'''
>>> a = 'learning python is EASY'
>>> a.upper() # 문자열 대문자 변환
'LEARNING PYTHON IS EASY
>>> a.lower() # 문자열 소문자 변환
'learning python is easy'

In [12]:
 a = 'learning python is EASY'
 a.replace('EASY', 'hard!') # 'easy'를 'hard'로 치환

'learning python is hard!'

In [13]:
a = 'learning python is EASY'
a.split() # 공백을 기준으로 문자열 나누어 리스트로 리턴

['learning', 'python', 'is', 'EASY']

In [ ]:
'''
리스트 인덱싱과 슬라이싱 #
리스트도 문자열처럼 인덱싱과 슬라이싱이 가능합니다.
'''
>>> a[0]
1
>>> a[-1]
['list', 'of', 'lists']
>>> a[-1][2] # a 리스트 안의 요소인 리스트의 2번째 요소를 불러옵니다.
'lists
>>> a[:2] # 2번째 요소 까지 슬라이스
[1, 3]

In [14]:
'''
리스트 관련 함수들 #
리스트에도 자체 함수들이 있습니다. 이 중 많이 쓰는 몇 가지를 소개하겠습니다.
'''
a = [1, 3, 4, 5, 2, 10]
a.sort()
a

[1, 2, 3, 4, 5, 10]

In [15]:
a.extend([11, 12]) # a 리스트에 extend함수 안의 리스트를 합쳐준다. extend는 요소가 아닌 리스트가 있어야 합니다.
a

[1, 2, 3, 4, 5, 10, 11, 12]

In [16]:
a.append(13) # a에 13이라는 요소를 첨가합니다. extend와 달리 요소를 넣어줍니다.
a

[1, 2, 3, 4, 5, 10, 11, 12, 13]

In [20]:

a=[1, 2, 3, 4, 5, 10, 11, 12, 13]
a.insert(5, 6) # a에 5번째 자리에 6을 집어넣습니다.
a

[1, 2, 3, 4, 5, 6, 10, 11, 12, 13]

In [22]:
'''
튜플 자료형 #
튜플의 형식은 리스트와 비슷하지만 두 가지 다른 점이 있습니다.

리스트는 []로 감싸지만 튜플은 ()로 감쌉니다.
리스트는 안의 요소들을 생성, 삭제, 수정이 가능하지만 튜플은 할 수 없습니다.
튜플은 다음과 같이 생성할 수 있습니다.
'''
t = (1, 2, 3)
t2 = (1, 2, 3, ('a', 'b', 'c')) # 리스트처럼 튜플안의 튜플이 가능합니다.

In [ ]:
'''
슬라이싱, 더하기, 곱하기 #
리스트처럼 함수로 다양하게 조작할 수 없는 튜플이지만 인덱싱과 슬라이싱은 가능합니다.

>>> t[:2]
(1, 2)
>>> t + t1
(1, 2, 3, 1, 2, 3, ('a', 'b', 'c'))
>>> t * 3
(1, 2, 3, 1, 2, 3, 1, 2, 3)
'''

In [25]:
'''
생성법 #
딕셔너리는 다른 자료형과는 조금 다른 형태를 가지고 있습니다.

딕셔너리의 key 값들은 key1, key2, key3이고 이에 해당되는 value들은 
각각 value, 12323, 리스트 이렇게 다양한 자료형을 가질 수 있습니다. 
여기에 또 하나의 key와 값을 집어 넣으려면
'''
dict = {'key1': 'value', 'key2': 12323, 'key3': ['list', 'can', 'be', 'a', 'value']}


dict['key4'] = ['here', 'is', 'another', 'value']
dict

{'key1': 'value',
 'key2': 12323,
 'key3': ['list', 'can', 'be', 'a', 'value'],
 'key4': ['here', 'is', 'another', 'value']}

In [26]:
#삭제도 다음과 같이 실행하면 됩니다.
del dict['key1']
dict

{'key2': 12323,
 'key3': ['list', 'can', 'be', 'a', 'value'],
 'key4': ['here', 'is', 'another', 'value']}

In [27]:
'''
사용법 #
딕셔너리는 key 값으로 값을 불러오는 데에 사용됩니다. 이는 여러 요소들을 가지는 
다른 자료형들과는 다른 사용법이며, 가장 큰 특징이기도 합니다.
'''
dict['key2']

12323

In [ ]:
'''
관련함수 #
딕셔너리에도 마찬가지로 자체 함수들을 가지고 있습니다.

>>> dict.keys() # 딕셔너리의 키값을 받습니다.
dict_keys(['key2', 'key3', 'key4'])
>>> dict.items() # key와 value의 매치된 dict_items 객채가 생성됩니다.
dict_items([('key2', 12323), ('key3', ['list', 'can', 'be', 'a', 'value']), ('key4', ['here', 'is', 'another', 'value'])])
>>> 'key2' in dict # dict안의 'key2'라는 키가 있는지 확인할 수 있습니다.
True
>>> 'key' in dict
False
'''

In [56]:
'''
집합 생성 및 특징 #
집합 (set)은 다음과 같이 생성이 됩니다.

집합을 set()을 이용하여 생성하였습니다. 집합은 다음과 같은 특징을 가지고 있습니다.

요소들이 unique하다. (중복이 되지 않는다)
순서가 없다.
이러한 특징 때문에 종종 list 안에 중복을 제거하는 용도로 사용하기도 합니다.
'''

s1 = set([1, 2, 2, 3, 4, 4, 4, 4,])
s1

{1, 2, 3, 4}

In [57]:

s2 = set('hello123')
s2

{'1', '2', '3', 'e', 'h', 'l', 'o'}

In [ ]:
'''
관련 함수 #
집합에도 다른 리스트처럼 기본적인 추가 삭제 관련 함수들이 있습니다.

>>> s2.add(1)
>>> s2
{'o', '3', 1, 'e', '2', 'l', 'h', '1'}
>>> s2.update([2, 3, 4, 5])
>>> s2
{'o', '3', 1, 2, 'e', 3, 4, 5, '2', 'l', 'h', '1'}
>>> s2.remove(3)
>>> s2
{'o', '3', 1, 2, 'e', 4, 5, '2', 'l', 'h', '1'}
'''

In [33]:
'''
관련 함수 #
집합에도 다른 리스트처럼 기본적인 추가 삭제 관련 함수들이 있습니다.
'''

s2 = set('0,2,3')
s2.add(1)
s2

{',', '0', 1, '2', '3'}

In [34]:
s2 = set('hello123')
s2

{'1', '2', '3', 'e', 'h', 'l', 'o'}

In [ ]:
'''
집합을 set()을 이용하여 생성하였습니다. 집합은 다음과 같은 특징을 가지고 있습니다.

요소들이 unique하다. (중복이 되지 않는다)
순서가 없다.
이러한 특징 때문에 종종 list 안에 중복을 제거하는 용도로 사용하기도 합니다.
'''

In [41]:
'''
관련 함수 #
집합에도 다른 리스트처럼 기본적인 추가 삭제 관련 함수들이 있습니다.
'''
s2=set('0,2,3')
s2.add(1)
s2

{',', '0', 1, '2', '3'}

In [44]:
s2.update([4,5,6])
s2

{',', '0', 1, '2', '3', 4, 5, 6}

In [46]:
s2.remove(4)
s2

{',', '0', 1, '2', '3', 5, 6}

In [62]:
'''
활용법 #
이름이 집합인 만큼 교집합, 합집합, 차집합 등 집합 연산을 다음과 같이 수행할 수 있습니다.
'''
s1 = set([1, 2, 3, 4, 5,])
s2 = set([1,7])
s1 & s2 # s1과 s2의 교집합

{1}

In [63]:
s1 | s2 # s1과 s2의 합집합

{1, 2, 3, 4, 5, 7}

In [64]:
s1 - s2 # s1과 s2의 차집합

{2, 3, 4, 5}