In [ ]:
import pandas as pd

In [ ]:
url = "https://www.seoul.go.kr/coronaV/coronaStatus.do?menu_code=01"
url

'https://www.seoul.go.kr/coronaV/coronaStatus.do?menu_code=01'

In [ ]:
pd.read_html(url)

[     소계  해외접촉관련  강남역삼동금융회사관련  관악구왕성교회관련  ...  구로구콜센터관련  타 시·도확진자접촉자   기타  경로확인중
 0  1393     316            8         30  ...        98           46  338    132

 [1 rows x 16 columns],                                                    0
 0  < 신종 코로나바이러스 감염증 예방 국민 행동수칙 >○ 기침 등 호흡기 증상이 있을...,                                                    0
 0  < 신종 코로나바이러스 감염증 예방 의료기관 행동수칙 >○ 호흡기 질환자 진료시 마...,                                                    0
 0  이 보도자료는 관련 발생 상황에 대한 정보를 신속 투명하게 공개하기 위한 것으로, ...,         연번     환자    확진일  거주지     여행력         접촉력         조치사항
 0     1393  13283  7.08.  광진구       -  광진구 확진자 접촉        서울의료원
 1     1392  13271  7.08.  동작구       -  강남역삼동 금융회사         서남병원
 2     1391  13250  7.08.  구로구       -     왕성교회 관련       생활치료센터
 3     1390  13261  7.08.  노원구  우즈베키스탄    해외 접촉 추정        서울의료원
 4     1389  13259  7.08.   중구  우즈베키스탄    해외 접촉 추정       순천향대병원
 ...    ...    ...    ...  ...     ...         ...          ...
 1388     5      9  1.31.  성북구       -       #5 접촉    서울의료원(퇴원)
 1389     4      7  1.30.  마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
 1390     3      6  1.30.  종로구       -       #3 접촉  서울대학교병원(퇴원)
 1391     2      5  1.30.  중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
 1392     1      2  1.24.  강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

 [1393 rows x 7 columns],                                                      연번  ...         격리시설
 0     1393  <tr>  <td class="tdl" colspan="5">  <p><...  ...        서울의료원
 1     1392  <tr>  <td class="tdl" colspan="5">  <p>확...  ...         서남병원
 2     1391  <tr>  <td class="tdl" colspan="5">  <p>확...  ...       생활치료센터
 3     1390  <tr>  <td class="tdl" colspan="5">  <p>확...  ...        서울의료원
 4     1389  <tr>  <td class="tdl" colspan="5">  <p>확...  ...       순천향대병원
 ...                                                 ...  ...          ...
 1388  5  <tr>  <td class="tdl" colspan="5">  <p>이동경로...  ...    서울의료원(퇴원)
 1389  4  <tr>  <td class="tdl" colspan="5">  <p>이동경로...  ...    서울의료원(퇴원)
 1390  3  <tr>  <td class="tdl" colspan="5">  <p>이동경로...  ...  서울대학교병원(퇴원)
 1391  2  <tr>  <td class="tdl" colspan="5">  <p>이동경로...  ...    서울의료원(퇴원)
 1392  1  <tr>  <td class="tdl" colspan="5">  <p>이동경로...  ...  국립중앙의료원(퇴원)

 [1393 rows x 6 columns]]

In [ ]:
table = pd.read_html(url)
len(table)
# len 불러온 개수

6

In [ ]:
table[0]

     소계  해외접촉관련  강남역삼동금융회사관련  관악구왕성교회관련  ...  구로구콜센터관련  타 시·도확진자접촉자   기타  경로확인중
0  1393     316            8         30  ...        98           46  338    132

[1 rows x 16 columns]

In [ ]:
table[0].transpose()
#table[0].T
#행과 열 바꾸기
#지금은 열로 바꾸기

                0
소계           1393
해외접촉관련        316
강남역삼동금융회사관련     8
관악구왕성교회관련      30
강남구사무실관련        6
강남구역삼동모임       12
도봉구요양시설관련      43
리치웨이관련        122
부천시쿠팡관련        24
수도권개척교회관련      37
양천구운동시설관련      43
이태원클럽관련       139
구로구콜센터관련       98
타 시·도확진자접촉자    46
기타            338
경로확인중         132

In [ ]:
table[4]

        연번     환자    확진일  거주지     여행력         접촉력         조치사항
0     1393  13283  7.08.  광진구       -  광진구 확진자 접촉        서울의료원
1     1392  13271  7.08.  동작구       -  강남역삼동 금융회사         서남병원
2     1391  13250  7.08.  구로구       -     왕성교회 관련       생활치료센터
3     1390  13261  7.08.  노원구  우즈베키스탄    해외 접촉 추정        서울의료원
4     1389  13259  7.08.   중구  우즈베키스탄    해외 접촉 추정       순천향대병원
...    ...    ...    ...  ...     ...         ...          ...
1388     5      9  1.31.  성북구       -       #5 접촉    서울의료원(퇴원)
1389     4      7  1.30.  마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
1390     3      6  1.30.  종로구       -       #3 접촉  서울대학교병원(퇴원)
1391     2      5  1.30.  중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
1392     1      2  1.24.  강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

[1393 rows x 7 columns]

In [ ]:
df = table[4]
df.shape
#행렬표시

(1393, 7)

In [ ]:
df.head()

     연번     환자    확진일  거주지     여행력         접촉력    조치사항
0  1393  13283  7.08.  광진구       -  광진구 확진자 접촉   서울의료원
1  1392  13271  7.08.  동작구       -  강남역삼동 금융회사    서남병원
2  1391  13250  7.08.  구로구       -     왕성교회 관련  생활치료센터
3  1390  13261  7.08.  노원구  우즈베키스탄    해외 접촉 추정   서울의료원
4  1389  13259  7.08.   중구  우즈베키스탄    해외 접촉 추정  순천향대병원

In [ ]:
df.loc[0]
#1번 데이터만 가져옴

연번            1393
환자           13283
확진일          7.08.
거주지            광진구
여행력              -
접촉력     광진구 확진자 접촉
조치사항         서울의료원
Name: 0, dtype: object

In [ ]:
df.loc[0,'확진일']

'7.08.'

In [ ]:
last_day = df.loc[0,'확진일']
last_day

'7.08.'

In [ ]:
last_day = df.loc[0,'확진일']
last_day = last_day.replace('.', '_')
last_day
#.을 _(언더바)로 변경

'7_08_'

In [ ]:
file_name = f'seoul-covid19_{last_day}.csv'
file_name
#파일명 만들기

'seoul-covid19_7_08_.csv'

In [ ]:
df.to_csv(file_name, index=False)
#index=False(index는 저장하지 않기)

In [ ]:
df.to_csv(file_name)
#파일로 저장

In [ ]:
df

        연번     환자    확진일  거주지     여행력         접촉력         조치사항
0     1393  13283  7.08.  광진구       -  광진구 확진자 접촉        서울의료원
1     1392  13271  7.08.  동작구       -  강남역삼동 금융회사         서남병원
2     1391  13250  7.08.  구로구       -     왕성교회 관련       생활치료센터
3     1390  13261  7.08.  노원구  우즈베키스탄    해외 접촉 추정        서울의료원
4     1389  13259  7.08.   중구  우즈베키스탄    해외 접촉 추정       순천향대병원
...    ...    ...    ...  ...     ...         ...          ...
1388     5      9  1.31.  성북구       -       #5 접촉    서울의료원(퇴원)
1389     4      7  1.30.  마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
1390     3      6  1.30.  종로구       -       #3 접촉  서울대학교병원(퇴원)
1391     2      5  1.30.  중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
1392     1      2  1.24.  강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

[1393 rows x 7 columns]

In [ ]:
pd.read_csv(file_name)
#저장한 파일 불러오기

      Unnamed: 0    연번     환자    확진일  거주지     여행력         접촉력         조치사항
0              0  1393  13283  7.08.  광진구       -  광진구 확진자 접촉        서울의료원
1              1  1392  13271  7.08.  동작구       -  강남역삼동 금융회사         서남병원
2              2  1391  13250  7.08.  구로구       -     왕성교회 관련       생활치료센터
3              3  1390  13261  7.08.  노원구  우즈베키스탄    해외 접촉 추정        서울의료원
4              4  1389  13259  7.08.   중구  우즈베키스탄    해외 접촉 추정       순천향대병원
...          ...   ...    ...    ...  ...     ...         ...          ...
1388        1388     5      9  1.31.  성북구       -       #5 접촉    서울의료원(퇴원)
1389        1389     4      7  1.30.  마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
1390        1390     3      6  1.30.  종로구       -       #3 접촉  서울대학교병원(퇴원)
1391        1391     2      5  1.30.  중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
1392        1392     1      2  1.24.  강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

[1393 rows x 8 columns]

In [ ]:
df.to_csv(file_name, index=False, encoding='cp949')
#엑셀에서 열어볼 수 있게 저장

In [ ]:
pd.read_csv(file_name, encoding='cp949')
#엑셀로 저장한 파일 불러오기

        연번     환자    확진일  거주지     여행력         접촉력         조치사항
0     1393  13283  7.08.  광진구       -  광진구 확진자 접촉        서울의료원
1     1392  13271  7.08.  동작구       -  강남역삼동 금융회사         서남병원
2     1391  13250  7.08.  구로구       -     왕성교회 관련       생활치료센터
3     1390  13261  7.08.  노원구  우즈베키스탄    해외 접촉 추정        서울의료원
4     1389  13259  7.08.   중구  우즈베키스탄    해외 접촉 추정       순천향대병원
...    ...    ...    ...  ...     ...         ...          ...
1388     5      9  1.31.  성북구       -       #5 접촉    서울의료원(퇴원)
1389     4      7  1.30.  마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
1390     3      6  1.30.  종로구       -       #3 접촉  서울대학교병원(퇴원)
1391     2      5  1.30.  중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
1392     1      2  1.24.  강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

[1393 rows x 7 columns]