참조; https://wikidocs.net/11107

### **반복문**
1) whlie문


*   해당 조건이 참인 경우 반복해서 수행하는 함수이다.

In [ ]:
# whlle 구조
> while < 조건문 >:
        < 수행할 문장1 >  
        < 수행할 문장2 >  
        < 수행할 문장3 >

In [2]:
#< 예문 > : 값은 ?번과 같습니다. 10회 출력하는 코드를 작성하라.( 단, 숫자는 출력할때마다 변해야한다. )

In [4]:
aa = 0
# 변수 값이 10보다 
# 많아질때까지 반복해라
while aa < 10:
    aa = aa + 1
    print("값은 %d번과 같습니다."% aa)
    if aa == 10:
        print("종료 합니다.")
# 결과 값 :
# 값은 1번과 같습니다.
# 값은 2번과 같습니다.
      # 생 략
# 종료 합니다.

#* 반복할 때 마다 +1씩 누적 적용되고 최종적으로 10보다 많아지면 if조건을 거짓으로 인식되어 빠져나가게 된다.

값은 1번과 같습니다.
값은 2번과 같습니다.
값은 3번과 같습니다.
값은 4번과 같습니다.
값은 5번과 같습니다.
값은 6번과 같습니다.
값은 7번과 같습니다.
값은 8번과 같습니다.
값은 9번과 같습니다.
값은 10번과 같습니다.
종료 합니다.

**2) while문 수행 방법**

보조 제어문( break, contlnue )

*   break(끝내기) : 조건문을 완전히 빠져나가는 역할을 하는 제어문이다.
*   contlnue(계속 실행) : 조건에 맞지 않는 경우, 조건문으로 다시 돌아가는 역할을 하는 제어문이다.

In [ ]:
# < 예문 > : 1 ~ 10까지 숫자 중 홀수만 출력해라.

In [5]:
i = 0
# 변수값이 10보다 작은 동안은
while i < 10:
    # i변수 값에 1만큼 증가한다.
    i = i+1
    # 변수 값을 나누었을때 a가 짝수,
    # 참 이면 cuntinue문장을 수행한다.
    if i % 2 == 0: continue
    # 하지만 짝수라면 해당 조건을
    # 수행하지 않고 빠져 나온다.
    print(i)

1
3
5
7
9

**3) 무한 루프**

구조=>
*   while True: 

   * 조건문이 참(True)이기 때문에 항상 참이 된다.

In [ ]:
a = 1
# 변수 값이 0보다 큰 경우
while a>0:
    # 해당 값을 출력한다.
    print("%d 입니다."%a)  

# 결과 값 :1 입니다.∞
# 1이 0보다 크다는 참이기 때문에 
# 해당 문자열을 계속 반복 출력한다.

### **for 문**
for 문은 리스트(list)와 같은 순서형(sequence) 자료를 이용해서 원하는 명령을 반복할 때 쓰인다.

In [ ]:
# for 구조
  for 변수 in 리스트(튜플, 문자열):
          < 실행할 문장1 >
          < 실행할 문장2 >

In [ ]:
# 문제) 리스트 값을 for문 이용하여 순서대로 출력하는 코드를 작성해라.

In [13]:
list = ["c","d","d"]
for i in list:
    print(i)
# 요소에 수 만큼 반복문을 수행한다.

c
d
d

**for문 수행 방법)**

if문(조건문), continue(계속 실행)제어문 사용.

문제) 5명 수험생이 시험 보았다. 점수 60점 넘으면 합격, 그렇지 않으면 불합격이다. 라는 코드를 작성하시오.

In [14]:
a = [90, 25, 67, 45, 80]
n = 0
for i in a:
    n = n + 1
    if i<60: continue
    print("%d번 수험생 합격입니다."%n)

1번 수험생 합격입니다.
3번 수험생 합격입니다.
5번 수험생 합격입니다.

In [15]:
#튜플 사용한 for문 활용
aa = [("a","b"),("d","r")]
for (i,j) in aa:
    print(i+j)

ab
dr

In [ ]:
#for문 range 함수 활용

문제) for문, range함수 이용하여 2 ~ 9단까지 결과 값을 출력해라.

In [16]:
for i in range(2,10):
    for i2 in range(1, 10):
        print(i*i2, end=" ") 
    print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
'''
range함수 : 0부터 해당 숫자 미만 값을 포함하는 객체를 만들어 준다.
( 인수 첫번째는 시작, 두번째는 숫자 미만까지, 세번째는 해당 숫자만큼 증가를 의미한다. )

len함수 : 리스트 내 요소의 개수를 돌려주는 함수이다.

end함수 : 다음 줄로 넘어가지 않고 그줄에 계속 출력하기 위해 사용한다.
'''

**리스트 내포 이용한 for 활용**

< 구조 >

[ 표현식 for 항목 반복가능한 객체 if 조건 ]

In [ ]:
# 문제) 2 ~ 9단까지 구구단 결과 값 출력하는 코드를 작성해라.

In [17]:
gg = [i*i2 for i in range(2,10)
for i2 in range(1,10)]
print(gg)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [ ]:
#문제) 리스트 값에 5배 곱한 값을 출력하는 코드를 작성해라.

In [18]:
a = [1,2,3,4]
result=[num * 5 for num in a]
print(result)

[5, 10, 15, 20]

그밖에 반복문도 else 사용이 가능하다. ( 단, 루프를 다 돌고 난 뒤에 수행한다. )

In [ ]:
family = ['mother', 'father', 'gentleman', 'sexy lady']
for x in family:                 # family라는 리스트의 각각의 항목 x에 대하여:
 print('%s %d' % (x, len(x)))    # x와 x의 길이를 출력하라.

mother 6
father 6
gentleman 9
sexy lady 9

# **range()**
range는 범위라는 뜻.
- 어떤 정수를 인자로 주면 그 범위 안의 정수들을 만들어준다.

In [ ]:
range(2, 7)         # 파이썬 2

list(range(2, 7))   # 파이썬 3

[2, 3, 4, 5, 6]

In [ ]:
# for 문에 range()를 사용할 수 있다.

a = [4, 5, 6, 7]
for i in a:
  print(i)

4
5
6
7

In [ ]:
# 위 예를 range()변환하면
for i in range(4, 8):
  print(i)

4
5
6
7